/* Color Theme Swatches in Hex
$Meet-Logo-1-hex: #F26052;
$Meet-Logo-2-hex: #F27D72;
$Meet-Logo-3-hex: #F29991;
$Meet-Logo-4-hex: #F2BFBB;
$Meet-Logo-5-hex: #F2F2F2;

/* Color Theme Swatches in RGBA
$Meet-Logo-1-rgba: rgba(242,96,82, 1);
$Meet-Logo-2-rgba: rgba(242,125,114, 1);
$Meet-Logo-3-rgba: rgba(242,153,145, 1);
$Meet-Logo-4-rgba: rgba(242,191,187, 1);
$Meet-Logo-5-rgba: rgba(242,242,242, 1); */

/* Color Theme Swatches in HSLA
$Meet-Logo-1-hsla: hsla(5, 86, 63, 1);
$Meet-Logo-2-hsla: hsla(5, 83, 69, 1);
$Meet-Logo-3-hsla: hsla(4, 78, 75, 1);
$Meet-Logo-4-hsla: hsla(4, 67, 84, 1);
$Meet-Logo-5-hsla: hsla(0, 0, 94, 1); */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
